<h1><%= @post.title %></h1>

<h5><%= @post.created_at.strftime("%b %d %Y") %></h5>

<p><%= @post.body %></p>

<% if current_user && current_user.id == @post.user.id %>
  <p><%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary btn-space" %></p>
  <p><%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger btn-space" %></p>
<% end %>


<div class="col-md-12">
  <%= form_for [@post, @comment], remote: true, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @comment.errors.any? %>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title"><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being published:</h2>
          <div class="panel-body">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :body, "New Comment" %>
      </div>
      <div class="col-md-10">
        <%= f.text_area :body, rows: 10, class: "form-control", id: "comment-form-body", placeholder: "Your comment" %>
      </div>
    </div>
    <div class="form-group">
      <div>
        <%= f.submit "Add Comment", class: "btn btn-primary btn-lg pull-right", id: "comment-submit" %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <header>
    <h2>Comments</h2>
  </header>

  <div class="col-md-10">
    <% if @post.comments.any? %>
    <div id="messages">
      <% persisted_comments(@comments).each do |comment| %>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-time">
          <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.email %>
        </div>
        <hr>
      <% end %>
    </div>
    <% else %>
      There are no comments yet!
    <% end %>
  </div>
</div>
