<h1><%= @post.title %></h1>

<h5><%= @post.created_at.strftime("%b %d %Y") %></h5>

<p><%= @post.body %></p>

<p><%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary btn-space" %></p>
<p><%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger btn-space" %></p>
